<a class="col text-secondary text-decoration-none hover-shadow" href="{% url 'auctions:product_info' list.id %}">
  <div class="item-body">
    <div>
      {# <div class="img-container"><img src="{{ list.image_url }}" alt="{{ list.title }}"></div> #}
      {# <img src="{{ list.image_url }}" class="rounded mx-auto d-block" alt="{{ list.title }}"> #}
      <img src="{{ list.image_url }}" class="img-fluid" alt="{{ list.title }}">
    </div>
  </div>
  <div class="border light-subtle">
    <div class="item-heading">
      <div id="title">{{ list.title }}</div>
      <div class="bid">
        {% if list.current_bid %}
        <span class="bid-color">{{ list.current_bid }}</span>
        {% else %}
        <span class="bid-color">${{ list.amount }}</span>
        {% endif %}
      </div>
    </div>
    <div class="item-footer">
      <div>
        <span">{{ list.description | slice:":80" }}...</span>
      </div>
    </div>
  </div>
</a>
