{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Auctions{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'auctions/style.css' %}" rel="stylesheet">
  <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'auctions/index.js' %}"></script>
</head>

<body>
  <div class="container">
    <h1 id="hello">Hello!</h1>
    <select>
      <option value="black">Black</option>
      <option value="red">Red</option>
      <option value="blue">Blue</option>
    </select>
  </div>



  {# <div> #}
  {#   {% if user.is_authenticated %} #}
  {#   Signed in as <strong>{{ user.username }}</strong>. #}
  {#   <a href="{% url 'auctions:logout' %}">Log Out</a> #}
  {#   {% else %} #}
  {#   Not signed in. #}
  {#   {% endif %} #}
  {# </div> #}






  <div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="nv navbar-brand" href="{% url 'auctions:index' %}">Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {# <a class="nav-link active" aria-current="page" href="#">Home</a> #}
              <a class="nv nav-link" value="products" href="{% url 'auctions:index' %}">All Products</a>
            </li>
            <li class="nav-item">
              <a class="nv nav-link active" href="{% url 'auctions:view_category' %}">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nv nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }} </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'auctions:view_watchlist' %}">Wishlists</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'auctions:logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>



  <div class="container">
    <ul class="nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:index' %}">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:new_list' %}">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:view_watchlist' %}">Wishlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:view_category' %}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:cart' %}">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:display_products' %}">Your products</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:index' %}">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:view_category' %}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% block body %}
  {% endblock %}
</body>

</html>
