<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="nv navbar-brand" href="{% url 'auctions:index' %}">Commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {# <a class="nav-link active" aria-current="page" href="#">Home</a> #}
            <a class="nv nav-link" value="products" href="{% url 'auctions:index' %}">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nv nav-link active" href="{% url 'auctions:view_category' %}">Categories</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nv nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">{{ user.username }} </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'auctions:view_wishlist' %}">Wishlists</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'auctions:logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
