{% extends "auctions/layout.html" %}

{% block body %}
<div style="display: flex; align-items: center; flex-direction: column;">
  <form class="form-container" action="{% url 'auctions:new_list' %}" method="post" style=" display: flex; flex-direction: column; align-items: center; width: 80%;">
  <center>
  <hr>
    <h1>Create new list</h1>
  <hr>
  <br>
  </center>
    <input type="hidden" name="user_id" value="{{ user.id }}">
    {% csrf_token %}
      <div style="width: 80%;">
        {{ list_form.as_p }}
        {# {{ category_form.as_p }} #}
      </div>
    <div>
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>
</div>
{% endblock %}
{# TODO: pre-made all the categories and add it as <option> #}
