{% extends "auctions/base.html" %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">

  <div>
    {% if messages %}
    {% for message in messages %}
    <center>
      <div>
        <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
      </div>
    </center>
    {% endfor %}
    {% endif %}
  </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <img src={{ list.image_url }} style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
              class="img-fluid" alt="Laptop" />
            <a href="#!">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p><a href="#!" class="text-dark">{{ list.title }}</a></p>
                <p class="small text-muted">{{ list.description | slice:":80" }}</p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p><a href="#!" class="text-dark">${{ list.amount }}</a></p>
            </div>
          </div>
          <hr class="my-0" />
          <form class="card-body pb-0" name="add_to_cart_form" method="post" action="{% url 'auctions:add_to_cart' %}">
            <input type="hidden" name="list_id" value="{{ list.id }}" />
            {% csrf_token %}
            {{ cartForm.as_p }}
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                <a href="{% url 'auctions:index' %}" class="text-dark fw-bold">Cancel</a>
                <button type="submit" class="btn btn-primary">Buy now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
