{% extends "auctions/base.html" %}

{% block body %}

<div class="heading-container">
  <div class="title-container">
    <strong>
      {{ list.title | capfirst }}
    </strong>
  </div>
</div>
<div class="watchlist-container">
  <div class="watchlist-button-container">
    {% if user.is_authenticated %}
    <div>
      {% if watchlist %}
      <form class="watchlist-form" name="watchlist" method="post" action="{% url 'auctions:remove_watchlist' %}">
        <input type="hidden" name="list_id" value="{{ list.id }}" />
        {% csrf_token %}
        <input class="btn btn-secondary" type="submit" value="Remove from watchlist" />
      </form>
      {% else %}
      <form class="watchlist-form" name="watchlist" method="post" action="{% url 'auctions:add_watchlist' %}">
        <input type="hidden" name="list_id" value="{{ list.id }}" />
        {% csrf_token %}
        <input class="btn btn-secondary" type="submit" value="Add to watchlist" />
      </form>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<div class="current-price-container">
  <div class="current-price">
    <span>
      Price:
      ${{ list.amount }}
    </span>
  </div>
</div>
<div class="app-body-container">
  <div class="body-container">
    <div class="photo-container">
      <img src="{{ list.image_url }}" class="img-fluid" alt="img">
      {# <img src="{{ list.image_url }}" class="rounded mx-auto d-block" alt="img"> #}
      {# <img class="img" src="{{ list.image_url }}" alt="{{ list.title }}"> #}
    </div>
    <div class="description-main-container">
      <div class="description-container">
        <div class="description">
          {{ list.description }}
        </div>
      </div>
    </div>
  </div>
  <div class="comments-container">
    <div class="comment-heading-container">
      <div class="comment-body-container">
        {% for comment in comments %}
        <ul class="comment-ul-container">
          <div class="comment-user-date-container">
            <li>{{ comment.user.username }}</li>
            <li class="comment-date">({{ comment.date }})</li>
          </div>
          <li class="comment">{{ comment.data }}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
    {% if user.is_authenticated %}
    {# {% if CartForm %} #}
    <div class="new-comment-container">
      <div class="heading-container">
        {% if messages %}
        {% for message in messages %}
        {# <span>{{ messages.info }}</span> #}
        <span>{{ message }}</span>
        {% endfor %}
        {% endif %}
      </div>
      <form name="add_to_cart_form" method="post" action="{% url 'auctions:add_to_cart' %}">
        <input type="hidden" name="list_id" value="{{ list.id }}" />
        {% csrf_token %}
        {{ cartForm.as_p }}
        <div class="add-comment-container">
          <div class="add-comment-button-container">
            <input type="submit" value="Add to cart">
          </div>
        </div>
      </form>
    </div>
    {# {% endif %} #}
    {% endif %}
  </div>
</div>
{% endblock %}
