{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

<center>
  <hr>
  <h1>Products</h1>
  <hr>
</center>
<br>
<div class="container">
  <div class="row">
    {% for list in lists %}
    <a class="col text-secondary text-decoration-none hover-shadow" href="{% url 'auctions:product_info' list.id %}">
      <div class="item-body">
        <div>
          <div class="img-container"><img src="{{ list.image_url }}" alt="{{ list.title }}"></div>
        </div>
      </div>

      <div class="border light-subtle">

        <div class="item-heading">
          <div id="title">{{ list.title }}</div>
          <div class="bid">
            {% if list.current_bid %}
            <span class="bid-color">{{ list.current_bid }}</span>
            {% else %}
            <span class="bid-color">${{ list.starting_bid }}</span>
            {% endif %}
          </div>
        </div>

        <div class="item-footer">
          <div><span">{{ list.description | slice:":80" }}...</span></div>
        </div>
      </div>
    </a>
    {% empty %}
    <h3>There's no active listing</h3>
    {% endfor %}

  </div>
</div>
{% endblock %}
