{% extends "auctions/base.html" %}
{% load tags %}

{% block body %}
<section class="section-products">
  <div class="container">
    <div class="row">
      {% for list in lists %}
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-1" class="single-product">
          <div class="part-1" style=" background: url({{ list.image_url }})
            no-repeat center; background-size: cover; transition: all 0.3s; ">
            <ul>
              <li>
                <form name="add_to_cart_form" method="post" action="{% url 'auctions:add_to_cart' %}">
                  <input type="hidden" name="list_id" value="{{ list.id }}" />
                  <input type="hidden" name="quantity" value="1" />
                  {% csrf_token %}
                  <a onclick="this.parentNode.submit();"><i class="fas fa-shopping-cart"></i></a>
                </form>
              </li>
              <li>
                {% if user.is_authenticated %}
                {% if list|in_wishlist:request.user %}
                <form class="watchlist-form" name="watchlist" method="post"
                  action="{% url 'auctions:remove_wishlist' %}">
                  <input type="hidden" name="list_id" value="{{ list.id }}" />
                  {% csrf_token %}
                  <a onclick="this.parentNode.submit();"><i class="fas fa-heart" style="color: red"></i></a>
                  {% else %}
                  <form class="watchlist-form" name="watchlist" method="post"
                    action="{% url 'auctions:add_wishlist' %}">
                    <input type="hidden" name="list_id" value="{{ list.id }}" />
                    {% csrf_token %}
                    <a onclick="this.parentNode.submit();"><i class="fas fa-heart"></i></a>
                    {% endif %}
                    {% else %}
                    <a><i class="fas fa-heart"></i></a>
                    {% endif %}
                  </form>
              </li>
              <li><a href="{% url 'auctions:product' list.id %}"><i class="fas fa-expand"></i></a></li>
            </ul>
          </div>
          <a style="color: black" href="{% url 'auctions:product' list.id %}">
            <div class="part-2">
              <h3 class="product-title">{{ list.title }}</h3>
              <h4 class="product-old-price">{{ list.description | slice:":80" }}</h4>
              <h4 class="product-price">${{ list.amount }}</h4>
            </div>
          </a>
        </div>
      </div>
      {% empty %}
      <h3>Empty</h3>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
