{% extends "auctions/base.html" %}

{% block body %}
<section class="section-products">
  <div class="container">
    <div class="row">
      {% for list in lists %}
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3" style="cursor: pointer;" onclick='location.href="{% url 'auctions:category_name' list %}";'>
        <div id="category-1" class="single-product">
          <h3 class="product-title">{{ list }}</h3>
          <div class="part-1 fal fa-image"></div>
        </div>
      </div>
      {% empty %}
      <h3>Empty</h3>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
